
<div class="contents-row">
  <div class="container">
  <%= render "shared/header" %>
  <h2 class="text-sell-title">уЏ«ТеЎсѓњ10тђІтЁЦтіЏсѓёсЂБсЂдсЂ┐сѓѕсЂє!­Ъўї</h2>
 <%= form_with model:@text, local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object %>

    <div class="new-text">
      <div class="weight-bold-text">
         1сЂцуЏ«
        <span class="indispensable">т┐Ёжаѕ</span>
      </div>
      <%= f.text_field :one, class:"one-text", id:"one-name", placeholder:"" %>
      <div class="new-text">
        <div class="weight-bold-text">
          2сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :two, class:"two-text", id:"two-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          3сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :three, class:"three-text", id:"three-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          4сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :four, class:"four-text", id:"four-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          5сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :five, class:"five-text", id:"five-name", placeholder:"" %>
      </div>
      <div class="weight-text">
          сЂѓсЂетЇітѕє! сЂЮсЂ«Уф┐тГљ! ­ЪЊБ
       </div>
       <div class="new-text">
        <div class="weight-bold-text">
          6сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :six, class:"six-text", id:"six-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          7сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :seven, class:"seven-text", id:"seven-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          8сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :eight, class:"eight-text", id:"eight-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          9сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :nine, class:"nine-text", id:"nine-name", placeholder:"" %>
      </div>
       <div class="new-text">
        <div class="weight-bold-text">
          10сЂцуЏ«
          <span class="indispensable">т┐Ёжаѕ</span>
        </div>
        <%= f.text_field :ten, class:"ten-text", id:"ten-name", placeholder:"" %>
      </div>
      <div class="talent">
          сѓёсѓісЂЇсЂБсЂЪ! тцЕТЅЇсЂасЂГ! ­Ъў│
       </div>
       <div class="sell-btn-contents">
      <%= f.submit "тцЅТЏ┤сЂЎсѓІ" ,class:"sell-btn" %>
      <%=link_to 'сѓѓсЂЕсѓІ', root_path, class:"back-btn" %>
    </div>
       
    </div>






    
      <%#= f.text_field :one, placeholder: "" %>
      <%#= f.text_field :two, placeholder: "" %>
      <%#= f.text_field :three, placeholder: "" %>
      <%#= f.text_field :four, placeholder: "" %>
      <%#= f.text_field :five, placeholder: "" %>
      <%#= f.text_field :six, placeholder: "" %>
      <%#= f.text_field :seven, placeholder: "" %>
      <%#= f.text_field :eight, placeholder: "" %>
      <%#= f.text_field :nine, placeholder: "" %>
      <%#= f.text_field :ten, placeholder: ""
        
      <%= f.submit "SEND" %>
    <% end %>
 </div>
 <%= render "shared/footer" %>
</div>