<%= render "shared/header" %>
<h1 class='top'>目標管理ツール!!</h1>
<div class="up">
<p class="spend">何となく毎日を過ごしていませんか？</p>
<ul>
<li class='play-one'>やってみたいことはありますか?</li>
<li class='play-two'>毎日ワクワクしてますか?
<li class='play-three'>どんなに小さなことでも大丈夫!</li>
<li class='play-four'>今から自分と向き合ってみましょう</li>
<li class='play-five'>想像したら素敵な未来見えてきましたね!(決めつけ)(笑)</li>
<li class='play-six'>思い浮かんだことを10個言語化してみましょう</li>
<li class='play-seven'>1年以内に絞るとイメージが沸きやすいと思います!</li>
</ul>
</div> 
<div class='play-btn-text'>
<%= link_to(new_text_path, class: 'play-btn') do %>
  <span class='play-text'>やってみる</span>
<% end %>
</div>

<div class='item-contents'>
    <h2 class='title'>目標リスト</h2>
    <%= link_to '目標詳細', text_path(@texts.ids), class: "subtitle" %>
    <ul class='item-lists'>

      
       <% @texts.each do |text| %>
       
      <li class='list'>
         
        <%#= link_to text_path(text.id) do %>
        
        <div class='item-info'>
          <h3 class='item-name'>
            <%= text.one %>
            <%= text.two %>
            <%= text.three %>
            <%= text.four %>
            <%= text.five %>
            <%= text.six %>
            <%= text.seven %>
            <%= text.eight %>
            <%= text.nine %>
            <%= text.ten %>
          </h3>
          
        </div>
        <%# end %>
       
      </li>
      
       <% end %>
    
     
     
    </ul>
  </div>
<%#= render "shared/footer" %>
